*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Source Sans Pro', sans-serif;
}
.clr
{
    clear: both;
}

#nav-main{
    background-color: rgba(0, 0, 0, 0.76);
}
.navbar-brand{
    color: #ff305b !important;
}
.nav-link:hover{
    color: #ff305b !important;
}
.navbar-toggler-icon{
  background-color: #ac0929 !important;
}
.navbar-toggler{
    border: 2px solid #d7d7d75c !important;
    padding: 5px 7px;
}

/* //// */
/* home */

.home
{
    background-image: url(../img/slider/slider-01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
   

}

.home-caption
{
    text-align: center;
    display: flex;
    padding: 170px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
    color: #f1f1f1;
    height: 100%;

}
.home-caption h1
{
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
}
.home-caption p{
    font-size: 26px;
    color: #ffffff;
}
/* /////////////// */
/* about */

.about-member
{
    position: relative;
    overflow: hidden;
    float: left;
    box-shadow: 4px 5px 5px #999999;
}


.about-icons
{
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 1s;
    
}
.about-icons a
{
    color:white;
    padding: 10px 8px;
   padding-bottom: 20px;
    font-size: 19px;
    transition: 0.5s;
    text-decoration: none;
}


.about-member:hover .about-icons
{
    top: 0;
}
.about-caption a
{
    text-decoration: none;
    color: #555555;
}


.about-caption h2
{
 font-size: 35px;
 font-weight: 600;
}


.about-caption ul li
{
    list-style: none;
}
.about-caption button
 {
     padding: 10px 24px;
     background-color: #ff305b;
     border: none;
     border-radius: 4px;
     margin: 15px 5px;

     font-size: 17;
     transition: 0.5s;
 }
 .about-caption button a 
 {
    color: white; 
    text-decoration: none;
 }

 .about-caption button:hover
 {
     background-color: #ac0929;
     text-decoration: underline;
 }


 /* Services */

 .Services
 { 
     text-align: center; 
    width: 90%;
     margin: auto   ;
 }
 .Services hr 
 {
width: 130px;
margin: auto;

 }

 .all-services
 {
    background: #f1f1f1;
    padding: 30px;

 }
 .Services h1
 {

    padding-top:40px ;
    margin-bottom: 10px;
 }
 .Services .member
 {
 
   
     padding: 20px  0px 20px 0px;
     margin-top: 50px;
     transition: 0.2s ;

 }
 .Services .member i
 {
padding: 20px;
font-size: 30px;
color: #ff305b;
 }
 .Services .member h3
 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
 }
 .Services .member p{
     font-size: large;
     color: #555555;
     padding: 0px 20px;
 }

 .member:hover
 {
background-color: white;
transform: scale(1.099);
border-radius: 20px;
 }
 /* //////////////// */
 /* Portfolio */
.Portfolio h2{
font-size: 35px;
font-weight: 600;
text-align: center;
}
.hr{
    background-color: #d7d7d7;
    height: 2px;
    width: 20%;
    margin: auto;
}
.price{
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.511);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}
.img_portfolio{
    border-radius: 5px;
    transition: 0.5s;
    
}
.Portfolio_member{
    position: relative;
    overflow: hidden;
}
.Portfolio_member:hover .price{
opacity: 1;
}
.Portfolio_member:hover .img_portfolio{
    transform: scale(1.1);
}
.nav-pills .nav-link.active, .nav-pills .show .nav-link{
    background-color: #f3d4db;
}
#pills-tab button{
    color: black;
    font-size: larger;
    border: none !important;
}
/* ///////////////// */
.iconss i{
color: #ff305b;
font-size: 40px;
margin-bottom: 10px;
}
.iconss h4{
    font-size: 35px;
}
.counters{
    background-color: #eae7e7;
}

/* /////////////////// */



 /* ////////// */
 /* Blog */
.Blog-all
{
    background-color: #f1f1f1;
}

 .Blog-inner
 {
    background-color: white;
 }
 .Blog h2
 {
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    margin: 10px;
    padding-top: 50px;
    text-align: center;
 }
 .Blog hr
 {
    
    width: 90px;
    margin: auto;
    margin-bottom: 50px;
    
 }
 .Blog-inner p{
    color: #555555;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 20px;
    transition: 0.5s;
    
 }
 .Blog-inner h3
 {
    color: #333333;
    font-size: 20px;
    margin-left: 15px;
    transition: 0.5s;
 }

 .h-hover:hover
 {
     color: #ff305b;
 }
 .Blog-hover:hover 
 {
     color: #ff305b;
 }
 .Contact h2
 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 50px;
    padding-top: 10px;
    text-align: center;
    
 }
 .Contact hr
 {  
    width: 130px;
    margin: auto;
    margin-bottom: 60px;  
 }
 .name
 {
     height: 40px;
      width: 30%;
      border: solid 2px #79122773;
 }
 .email
 {
    height: 40px;
    width: 30%;
    border: solid 2px #79122773;
 }
 .subject
 {
     margin-top: 30px;
    height: 40px;
    margin: 10px;
    width: 60%;
    border: solid 2px #79122773;
 }
 .text
 {
    height: 100px;
    margin: 10px;
    width: 60%;
    border: solid 2px #79122773;
 }
 .btn1
 {
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    opacity: 1;
    padding: 10px 25px;
    transition: 0.5s;

 }
 .btn1:hover 
 {
     background-color: #ac0929;
   
 }

form
{
    text-align: center;
    
}
.the-end 
{
    padding: 50px 0px;
    text-align: center;
  
   background: #333333 none repeat scroll 0 0;
    
}
.the-end a
{
    color:white;
    padding: 10px 8px;
   padding-bottom: 20px;
    font-size: 19px;
    transition: 0.5s;
    text-decoration: none;
}
.the-end p{color: #ffffff;}
.ends:hover{
    transition: 0.5s;
}

.end:hover
{
    color: #ff305b;
}
.the-end p a{color: #ff3059d2;}
.ends:hover
{
    color: #ce8997b9;
    text-decoration: underline;
}
