*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Source Sans Pro', sans-serif;
}
.clr
{
    clear: both;
}

.home-nav
{
   background-color: rgba(0, 0, 0, 0.76);
   position: relative;
  
   
}
.home-nav ul{
    
    float: right;
    width: 50%;
    list-style: none;
    padding: 20px 0px;
    z-index: 99999;
}
.home-nav ul li{
    float: left;
}
.home-nav ul li a{
    margin: 17px;
    text-decoration: none;
    color: rgb(224, 208, 208);
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s;
}
.home-nav .logo
{
    float: left;
   padding: 18px 60px;
    width: 20%;
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.623);

} 
.logo:hover 
{
    
   color: white;
}

.hover-a:hover
{
    color: #ff3059d2;
}

.home
{
    background-image: url(../img/slider/slider-01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
   

}

.home-caption
{
    text-align: center;
    display: flex;
    padding: 170px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
    color: #f1f1f1;
    height: 100%;

}
.home-caption h1
{
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
}
.home-caption p{
    font-size: 26px;
    color: #ffffff;
}

.all-img
{
    padding: 15px 50px;
    
}
.all-about
{
    width: 90%;
    margin: auto;
}
.about-member
{
   
    background-color: #ff305b;
    width: 30%;
    margin: auto;
    position: relative;
    overflow: hidden;
    float: left;
    box-shadow: 4px 5px 5px #999999;
}
.about-member img
{
    width: 100%;
    
}
.about-icons
{
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 1s;
    
}
.about-icons a
{
    color:white;
    padding: 10px 8px;
   padding-bottom: 20px;
    font-size: 19px;
    transition: 0.5s;
    text-decoration: none;
}


.about-member:hover .about-icons
{
    top: 0;
}
.about-caption a
{
    text-decoration: none;
    color: #555555;
}
.about-caption
{
    
    float: right;
    width: 65%;
    list-style: none;
    padding: 10px 50px 50px 50px ;
    margin-bottom: 30px;

}

.about-caption h2
{
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
}

.about-caption p
{
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #999999;
    
    color: #555555;
    
}
.about-caption ul li
{
    list-style: none;
}
.about-caption button
 {
     padding: 10px 24px;
     background-color: #ff305b;
     
     border: none;
     border-radius: 4px;
     margin: 15px 5px;

     font-size: 17;
     transition: 0.5s;
 }
 .about-caption button a 
 {
    color: white; 
    text-decoration: none;
 }

 .about-caption button:hover
 {
     background-color: #ac0929;
     text-decoration: underline;
 }


 .Services
 {

    
     text-align: center;
    height: 70vh;
    width: 90%;
     margin: auto   ;
 }
 .Services hr 
 {
width: 130px;
margin: auto;

 }

 .all-services
 {
    background: #f1f1f1;
 }
 .Services h1
 {

    padding-top:40px ;
    margin-bottom: 10px;
 }
 .Services .member
 {
     width: 25%;
     float: left;
     padding: 20px  0px 20px 0px;
     margin-top: 50px;
     transition: 0.2s ;

 }
 .Services .member i
 {
padding: 20px;
font-size: 30px;
color: #ff305b;
 }
 .Services .member h3
 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
 }
 .Services .member p{
     font-size: large;
     color: #555555;
     padding: 0px 20px;
 }

 .member:hover
 {
background-color: white;
transform: scale(1.099);
 }


 .Portfolio
 {
     text-align: center;
     width: 83%;
     margin: auto;
     
     
 }
 .Portfolio h2
 {

    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 10px;
    

 }
  .Portfolio hr
 {
    
    width: 130px;
    margin: auto;
 }
 .Portfolio button
 {
     margin-top: 30px;
     border: none;
     padding: 10px;
     background-color: white;
     border: medium none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    transition: 00.5s;
 }

 .por-button:hover 
 {
     color: #ff305b;
 }

 .Portfolio-member
 {
     width: 33.33%;
     float: left;
    padding: 10px;
    overflow: auto;
    
     
 }
 .inner
 {
    position: relative;
    overflow: auto;
 }
 .Portfolio-member img
 {
     width: 100%;
    

 }
 
 
.img-hover
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    opacity: 0;
    transition: opacity 1s;
    
    
}
.Portfolio-member:hover  .img-hover
{
    opacity: 1;
}
.icons
{
    text-align: center;
    background-color: #f1f1f1;
   
    height: 40vh;
}
.icons-all
{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.member-icons
{
    float: left;
    margin: 30px;

}
.member-icons i{
    padding: 20px;
    font-size: 28px;
    text-align: center;
    color: #ff305b;
}
.member-icons h4
{
    font-size: 26px;
    font-weight: 800;
}
.member-icons p
{
    color: #555555;
    font-size: 16px;
    margin: 10px 50px;
}

.Feedback
{
    text-align: center;
    margin: 20px 0px;
    
}
.Feedback h2
{
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 80px;
}
.Feedback hr
 {
    
    width: 130px;
    margin: auto;

    
 }


 .Feedback img
 {
     padding-bottom: 50px;
 }

.Blog-all
{
    background-color: #f1f1f1;
}
 .Blog
 {
    
     width: 90%;
     margin: auto;
 }
 .Blog-inner
 {
    background-color: white;
 }

 .Blog-member
 {
     width: 33.3%;
     float: left;
     padding: 20px;
    
 }
 
 .Blog-member img
 {
     width: 100%;
 }
 iframe{
     width: 100%;
 }
 .Blog h2
 {
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    margin: 10px;
    padding-top: 50px;
    text-align: center;
    
    
 }
 .Blog hr
 {
    
    width: 90px;
    margin: auto;
    margin-bottom: 50px;
    
 }
 .Blog-inner p{
    color: #555555;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 20px;
    transition: 0.5s;
    
 }
 .Blog-inner h3
 {
    color: #333333;
    font-size: 20px;
    margin-left: 15px;
    transition: 0.5s;
   
    
 }

 .h-hover:hover
 {
     color: #ff305b;
 }
 .Blog-hover:hover 
 {
     color: #ff305b;
 }


 




 .Contact h2
 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 50px;
    padding-top: 10px;
    text-align: center;
    
 }
 
 
 .Contact hr
 {
    
    width: 130px;
    margin: auto;
    margin-bottom: 60px;
    
    
 }
 .name
 {
     height: 40px;
      width: 30%;
      border: solid 2px #79122773;
      
 }
 .email
 {
    height: 40px;
    
    width: 30%;
    border: solid 2px #79122773;
 }
 .subject
 {
     margin-top: 30px;
    height: 40px;
    margin: 10px;
    width: 60%;
    border: solid 2px #79122773;
 }
 .text
 {
    height: 100px;
    margin: 10px;
    width: 60%;
    border: solid 2px #79122773;
 }
 .btn1
 {
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    opacity: 1;
    padding: 10px 25px;
    transition: 0.5s;

 }
 .btn1:hover 
 {
     background-color: #ac0929;
   
 }

form
{
    text-align: center;
    
}
.the-end 
{
    padding: 50px 0px;
    text-align: center;
  
   background: #333333 none repeat scroll 0 0;
    
}
.the-end a
{
    color:white;
    padding: 10px 8px;
   padding-bottom: 20px;
    font-size: 19px;
    transition: 0.5s;
    text-decoration: none;
}
.the-end p{color: #ffffff;}
.ends:hover{
    transition: 0.5s;
}

.end:hover
{
    color: #ff305b;
}
.the-end p a{color: #ff3059d2;}
.ends:hover
{
    color: #ce8997b9;
    text-decoration: underline;
}



@media all and (max-width:499px)
 {
    

  
}

@media all and (max-width:767px) and (min-width: 500px) 
{

    
    
  
}

@media all and (max-width:979px) and (min-width:768px)
{
    

}